// breakpoints
$desktop-small: 1200px;
$tablet: 992px;
$tablet-small: 768px;
$mobile: 576px;

$font-primary: "Mulish", sans-serif;
$font-secondary: "Montserrat", sans-serif;
$button-border: #8639b5;
$color-dark: #001a49;
$color-desc: #4f596a;
$color-body: #ffffff;
$color-border: #e7eaeb;
$color-stroke: #979797;
$light: #f4f9fa;
$violet: #9f07ff;
$color-p-holder: rgba(79, 89, 106, 0.5);
$primary-grad: linear-gradient(44.11deg, #cd10ff 15.75%, #9f06ff 84.63%);
$secondary-grad: linear-gradient(35.71deg, #ffd7a9 9.11%, #ffae70 71.64%);
$light-grad: linear-gradient(35.71deg, #ffd7a9 9.11%, #ffae70 71.64%);

$transition: 0.3s all ease-in-out;
