.faq {
  &__title {
    margin-top: 150px;
    @include text($font-secondary, 700, 46px, 56px, $color-dark);
    text-align: center;
    margin-bottom: 60px;
    @include desktop-small {
      margin-top: 50px;
    }
    @include tablet {
      font-size: 32px;
      line-height: 52px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-items: center;
    max-width: 850px;
    @include tablet {
      flex-wrap: wrap;
    }
  }

  &__items {
    border: 1px solid rgba(205, 16, 255, 0.2);
    border-radius: 21px;
    align-items: center;
    width: 100%;
    padding: 40px;
  }
}

.faq-wrapper {
  max-width: 850px;
}
.items {
  margin-bottom: 20px;
  @include tablet-small {
    padding: 20px;
  }

  &__header {
    display: flex;
    cursor: pointer;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    @include text($font-secondary, 700, 20px, 24px, $color-dark);
    @include tablet-small {
      font-size: 16px;
      line-height: 20px;
    }
  }

  &__arrow {
    padding-left: 15px;
    flex-shrink: 0;
    transition: $transition;
    img {
    }
  }

  &__body {
    display: none;
    max-width: 667px;
    margin-top: 10px;
    @include text($font-primary, 400, 16px, 26px, $color-desc);
    transition: $transition;
    padding: 10px;
  }
}
.faq-input {
  appearance: none;
  position: absolute;

  &:checked ~ .items__body {
    display: block;
    background-color: rgba(205, 16, 255, 0.05);
  }
  &:checked ~ .items__header .arrow {
    transform: rotate(180deg);
  }
}
