.footer {
  margin-top: 120px;
  padding: 63px 0 80px 0;
  background: #cd10ff0f;
  @include desktop-small {
    margin-top: 20px;
    padding: 30px 0;
  }
  &__header {
    display: flex;
    justify-content: space-between;
    gap: 80px;
    align-items: center;
    @include desktop-small {
      flex-direction: column;
      gap: 40px;
    }
  }

  &__logo {
    max-width: 150px;
    cursor: pointer;
    transition: $transition;
    &:hover {
      filter: drop-shadow(2px 4px 6px $color-dark);
    }
  }

  &__input-wrapper {
    max-width: 890px;
    width: 100%;
    background: $color-body;
    padding: 23px 8px 23px 40px;
    border-radius: 33px;
    display: flex;
    position: relative;
    @include mobile {
      background: $color-body;
      padding: 23px 8px 23px 40px;
      border-radius: 33px;
      display: flex;
      flex-direction: column;
      position: static;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 30px;
      padding: 0;
      padding-bottom: 10px;
      width: 100%;
    }
  }
  input {
    @include text($font-primary, 400, 16px, 18.75px, $color-desc);
    text-align: center;
    border: 0;
    border-radius: 33px;
    outline: none;
    max-width: 346px;
    width: 100%;
    @include mobile {
      padding: 10px 5px;
      padding-top: 25px;
      font-size: 12px;
      word-break: break-word;
      max-width: 80%;
    }
    &::placeholder {
      @include text($font-primary, 400, 16px, 18.75px, $color-p-holder);
    }
  }

  &__btn {
    padding: 15px 30px;
    cursor: pointer;
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    @include mobile {
      position: static;
    }
  }

  &__list {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 150px 0 240px;
    @include desktop-small {
      grid-template-columns: 1fr;
      padding: 20px;
      justify-items: center;
    }
  }

  &__item {
    &.first {
      max-width: 350px;
      @include desktop-small {
        text-align: center;
      }
    }
    &.second {
      max-width: 190px;
      margin-left: 100px;
      @include desktop-small {
        text-align: center;
        margin-left: 0;
      }
    }
  }

  &__item-title {
    @include text($font-primary, 700, 16px, 20px, $color-dark);
    margin-bottom: 20px;
    @include desktop-small {
      font-size: 28px;
    }
  }

  &__item-links {
    display: flex;
    flex-direction: row;
    gap: 123px;
    @include desktop-small {
      flex-direction: column;
      gap: 15px;
    }
  }

  &__ul {
    display: flex;
    flex-direction: column;
  }

  &__a {
    @include text($font-primary, 400, 16px, 20px, $color-desc);
    margin-bottom: 20px;
    transition: $transition;
    &:hover {
      color: $violet;
    }
    @include desktop-small {
      font-size: 18px;
    }
  }
}
